@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";/* You can add global styles to this file, and also import other style files */


$color-bg-dark: #121212;
$color-card-dark: #212529;
$color-bee-yellow: #ffc107;
$color-border: #343a40;
$color-text-off-white: #E9ECEF;


.page-container {
    background-color: $color-bg-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
    width: 100%;
    columns: 1;
}

.login-card {
    background-color: $color-card-dark;
    border: 1px solid $color-border;
    border-radius: 10px;
    padding: 3rem;
    
    width: 100%;
    max-width: 500px;
    min-height: 60vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-champs {
    background-color: $color-bg-dark !important;
    border: 1px solid $color-border !important;
    border-radius: px;
    color: $color-text-off-white !important;
    padding: 0.8rem;

    &:focus {
        border-color: $color-bee-yellow !important;
        box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
    }
}

/* styles.scss */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $color-bg-dark;
    color: $color-text-off-white;
}